{% extends "base.html" %}
{% load static %}
{% block title %}Matricular Aluno{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static "css/checkbox.css" %}">
{% endblock style %}
{% block content %}
<main>
  <h2>Matricular Aluno</h2>
  <form action="{% url 'enrollment-create' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Cadastrar</button>
  </form>
</main>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const checkbox = document.querySelector("#id_status");
    if (checkbox) checkbox.setAttribute("data-mode", "active");
  });
</script>
{% endblock content %}
