@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: "Lexend", sans-serif;
  margin: 40px auto;
  max-width: 1050px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
  margin-bottom: 16px;
}

main {
  margin-top: 30px;
}

.payment-progress {
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 5px;
}

.progress-bar {
  height: 100%;
  background: #4caf50; 
  transition: width 0.4s ease-in-out;
}


/* NAVBAR */
nav.navbar {
  padding: 12px 0;
  margin-bottom: 20px;
  border-bottom: 3px solid #333;
}

nav.navbar ul {
  list-style: none;
  display: flex;
  gap: 2em;
  padding-left: 0;
  margin: 0;
  text-align: center;
}

nav.navbar a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
}

nav.navbar a:hover {
  opacity: .7;
}

/* TABELAS */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 3px solid #333;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 35px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 3px solid #333;
}

tr:last-child td {
  border-bottom: none;
}

thead {
  background: #f0f0f0;
  font-weight: 700;
}

/* Formulários */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
form p{
  margin: 0;
}
label {
  display: block;
  width: 100%;
  font-weight: 600;
  margin-bottom: 4px;
}

input, select, textarea {
  display: block;
  width: 35%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 6px;
  font-size: 16px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #000;
}


/* Botões */
button,
input[type="submit"] {
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s;
}

button:hover,
input[type="submit"]:hover {
  background: #555;
}

/* Links */
a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  opacity: 0.8;
}

footer {
  text-align: center;
  margin-top: 60px;
}

hr {
  border: 2px solid #333;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0d1117;
  }

  nav.navbar {
    border-color: #444;
  }

  nav.navbar a {
    color: #e6edf3;
  }

  nav.navbar a:hover {
    opacity: .6;
  }

  table {
    border-color: #444;
  }

  th, td {
    border-bottom-color: #444;
  }

  thead {
    background: #1a1f24;
  }

  input, select, textarea {
    border-color: #555;
    background: #0d1117;
    color: #e6edf3;
  }
  input:focus,
  select:focus,
  textarea:focus {
    border-color: #58a6ff;
  }
  button,
  input[type="submit"] {
    background: #30363d;
  }

  button:hover,
  input[type="submit"]:hover {
    background: #424a53;
  }

  hr {
    border-color: #444;
  }
}
