{% extends "base.html" %}
{% block title %}Matriculas{% endblock title %}
{% block content %}
<main>
  <h2>Matriculas</h2>
  <table>
    <thead>
      <tr>
        <td>Aluno</td>
        <td>Curso</td>
        <td>Pagamento</td>
      </tr>
    </thead>
    <tbody>
      {% for e in enrollments %}
        <tr>
          <td>{{e.student_id.name}}</td>
          <td>{{e.course_id.name}}</td>
          <td>{% if e.status %}Pago{% else %}Pendente{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Pagamentos</h2>
  <table>
    <thead>
      <tr>
        <td>Aluno</td>
        <td>Total Pago (R$)</td>
        <td>Total Devido (R$)</td>
      </tr>
    </thead>
    <tbody>
      {% for p in payments %}
        <tr>
          <td>{{p.name}}</td>
          <td>{{p.paid_total}}</td>
          <td>{{p.pending_total}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}